body {
    margin: 0;
    overflow:scroll
}

#container {
    width: 50vw;
    height: 70vh;

    max-width: 1140px;
    min-width: 760px;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-bottom: 1px solid black;
}

#contact-second {
    margin: 5%;
    padding: 5%;
    border-top: 1px solid black;
}

#contact-first {
    margin: 5%;
    padding: 5%;
}

#contact-map {
    margin: 3%;
    padding-left: 2vh;
    border-left: 1px solid black;
    grid-row: span 2;
}

#containerbookevent {
    width: 50vw;
    height: 70vh;

    max-width: 1140px;
    min-width: 760px;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-bottom: 1px solid black;
}

#bookevent1 {
    margin: 2%;
    padding: 2%;
}

#bookevent2 {
    margin: 2%;
    padding: 2%;
    border-left: 1px solid black;
}

#bookevent3 {
    border-top: 1px solid black;
    margin: 2%;
    padding: 2%;
    grid-column: span 2;
    grid-row: span 2;
}

#newsletter {
    margin: 5%;
    padding: 5%;
    border-right: 1px solid black;
}

#social {
    margin: 5%;
    padding: 5%;
    border-right: 1px solid black;
}

#picture2 {
    margin: 5%;
    padding: 5%;
}

p1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 0.8vw;
}

p2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 0.8vw;
}

p3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: italic;
    font-size: 0.8vw;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1vw;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.4vw;
    letter-spacing: 0.1em;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 0.8vw;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2px;
    margin-top: auto}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
}

.map-css {
    width: absolute;
    position: center;
}

#jimbob {
    margin-left: 40% !important;
    margin-top: 5% !important;  
}

#register_page {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 40%;
    max-width: fit-content;
    border-right: 1px solid black;
    padding-right: 2%;
}

.nav-item {
    padding: 7px;
}

#aboutuscontainer {
    width: 30vw;
    height: 70vh;
    padding-left: 2%;
    padding-right: 2%;
}

#aboutus1 {
    border-bottom: 1px solid black;
    padding-bottom: 2%;
}

#aboutus2 {
    border-bottom: 1px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
}

#aboutus3 {
    padding-top: 2%;
    padding-bottom: 2%;
}

#containercorona {


    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
    
.carousel-control-next-icon {background-image: url(https://lh3.googleusercontent.com/proxy/FvsBUxr1xm_RBcYUq0gXyADERfheRTsIp71Ja1tpjITXRrZml5R2vaJiYtkL7fuvGJXT5j4bMa0T5goEZV2GzDIvSUlXURHvVM43puXSI9yUfdce7Fyn8WEipoDPzoFdTxUsaQ_cHZwEkWPveTJz_B3pewgm3Uk);}
.carousel-control-prev-icon {
    background-image: url(https://lh3.googleusercontent.com/proxy/FvsBUxr1xm_RBcYUq0gXyADERfheRTsIp71Ja1tpjITXRrZml5R2vaJiYtkL7fuvGJXT5j4bMa0T5goEZV2GzDIvSUlXURHvVM43puXSI9yUfdce7Fyn8WEipoDPzoFdTxUsaQ_cHZwEkWPveTJz_B3pewgm3Uk);
    transform: scaleX(-1);
}

#hometext {
    border-bottom: 1px;
}

#containerreserver {
    width: 50vw;
    height: 70vh;

    max-width: 1140px;
    min-width: 500px;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-bottom: 1px solid black;
}

#res1 {
    margin: 2%;
    padding: 2%;
}

#res2 {
    margin: 2%;
    padding: 2%;
    border-left: 1px solid black;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    color: black;   
}

/* RESERVATION CSS
*/

.section {
	position: relative;
	height: 95vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Cabin', sans-serif;
	background-color: #f7f9fa;
}

.booking-form {
	position: relative;
	max-width: 1200px;
	width: 100%;
	margin: auto;
	background: #fff;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
}

.booking-form>.booking-bg {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 750px;
	background-image: url("https://i.imgur.com/ZSZMt7Z.png");
	background-size: cover;
	background-position: center;
}

.booking-form>form {
	margin-left: 750px;
	padding: 30px;
	border: 1px solid #f9fafc;
	border-left: 0px;
}

.booking-form .form-header {
	margin-bottom: 30px;
}

.booking-form .form-header h2 {
	margin: 0;
	margin-bottom: 0px;
	font-weight: 700;
	color: #122244;
	font-size: 35px;
	text-transform: capitalize;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #f7f9fa;
	height: 40px;
	padding: 0px 10px;
	border-radius: 0px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	color: #122244;
	border: 0px;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
	box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #dde3e8;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #dde3e8;
}

.booking-form .form-control::placeholder {
	color: #dde3e8;
}

.booking-form .form-control:focus {
	-webkit-box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
	box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
	color: #dde3e8;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #dddee9;
	font-size: 14px;
}

.booking-form .form-label {
	color: #b5c1cc;
	font-weight: 700;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 14px;
	z-index: 1;
}

.booking-form .form-btn {
	margin-top: 10px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #6499ff;
	font-weight: 700;
	padding: 13px 35px;
	font-size: 16px;
	border: none;
	width: 100%;
}

@media only screen and (max-width: 480px) {
	.booking-form>.booking-bg {
		display: none;
	}
	.booking-form>form {
		margin-left: 0px;
	}
}

/* NAVBAR */
.navbar { background-color: #484848; }
.navbar .navbar-nav .nav-link { color: #fff; }
.navbar .navbar-nav .nav-link:hover { color: #fbc531; }
.navbar .navbar-nav .active > .nav-link { color: #fbc531; }

/* FOOTER */
footer a.text-light:hover { color: #fed136!important; text-decoration: none; }
footer .cizgi { border-right: 1px solid #535e67; }
@media (max-width: 992px) { footer .cizgi { border-right: none; } }